<!-- new topic message form -->
<div class="row mt-4 mb-3" th:fragment="topic-message-new(topicId, topicMessageWhenErrorsGet)">
    <button type="button" class="btn btn-primary btn-sm btn-light" data-bs-toggle="modal"
            data-bs-target="#topic-message-new">Ответить
    </button>

    <div class="modal fade modal-lg" id="topic-message-new" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="topic-message-new-title">Создание нового сообщения</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form th:action="@{/topic-message/new}" method="post" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="topic-message-new-text" class="form-label">Текст</label>
                            <textarea name="text" class="form-control"
                                      id="topic-message-new-text"
                                      rows="13" minlength="2" maxlength="4000" required
                            >[[${topicMessageWhenErrorsGet!=null ? topicMessageWhenErrorsGet.text :''}]]</textarea>
                            <input type="hidden" name="topicId" id="topicId" th:value="${topicId}">
                            <div class="invalid-feedback">Минимум 2 и максимум 4000 символов</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Отправить" class="btn btn-primary btn-sm btn-light">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- login form -->
<th:block th:fragment="login-form">
    <button type="button" class="btn btn-primary btn-sm btn-light" data-bs-toggle="modal"
            data-bs-target="#login-modal">Войти
    </button>

    <div class="modal fade" id="login-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="login-modal-title">Войти</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form th:action="@{/login}" method="post" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="login-username" class="form-label">Логин</label>
                            <input type="text" name="username" class="form-control"
                                   id="login-username" value="admin" required>
                            <div class="invalid-feedback">Минимум 2 и максимум 20 символов</div>
                        </div>
                        <div class="mb-3">
                            <label for="login-password" class="form-label">Пароль</label>
                            <input type="password" name="password" class="form-control"
                                   id="login-password" value="admin" required>
                            <div class="invalid-feedback">Минимум 2 и максимум 20 символов</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-sm btn-light"
                               value="Войти">
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<!-- registration form -->
<th:block th:fragment="registration-form">
    <button type="button" class="btn btn-primary btn-sm btn-light" data-bs-toggle="modal"
            data-bs-target="#registration-modal">Регистрация
    </button>

    <div class="modal fade" id="registration-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="registration-modal-title">Регистрация</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form th:action="@{/users/registration}" method="post" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="registration-username" class="form-label">Логин</label>
                            <input type="text" name="username" class="form-control"
                                   id="registration-username" required>
                            <div class="invalid-feedback">Минимум 2 и максимум 20 символов</div>
                        </div>
                        <div class="mb-3">
                            <label for="registration-password" class="form-label">Пароль</label>
                            <input type="password" name="password" class="form-control"
                                   id="registration-password" required>
                            <div class="invalid-feedback">Минимум 2 и максимум 20 символов</div>
                        </div>
                        <div class="mb-3">
                            <label for="registration-email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control"
                                   id="registration-email" required>
                            <div class="invalid-feedback">Максимум 50 символов и тип email</div>
                        </div>
                        <div class="mb-3">
                            <label for="registration-image" class="form-label">Аватар</label>
                            <input type="text" name="image" class="form-control"
                                   id="registration-image" value="x.png" required>
                            <div class="invalid-feedback">Максимум 128 символов</div>
                        </div>
                        <div class="mb-3">
                            <label for="roles">
                                <select class="form-select" id="roles" name="role">
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="MODERATOR">MODERATOR</option>
                                    <option value="USER" selected>USER</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-sm btn-light"
                               value="Зарегистрироваться">
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>


<!-- new topic create form -->
<th:block th:fragment="topic-new(category, subCategory, topicMessageWhenErrorsGet)">
    <button type="button" class="btn btn-primary btn-sm btn-light mt-2" data-bs-toggle="modal"
            data-bs-target="#topic-new">Новая тема
    </button>

    <div class="modal fade modal-lg" id="topic-new" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="topic-new-title-h">Создание новой темы</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form th:action="@{/topic/new}" method="post" class="needs-validation" novalidate>
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="topic-new-title" class="form-label">Название темы</label>
                            <input type="text" name="topicTitle" class="form-control"
                                   id="topic-new-title" required
                                   th:value="${topicMessageWhenErrorsGet!=null ? topicMessageWhenErrorsGet.topicTitle :''}">
                            <div class="invalid-feedback">Минимум 2 и максимум 200 символов</div>
                        </div>
                        <div class="mb-3">
                            <label for="topic-new-message" class="form-label">Сообщение</label>
                            <textarea name="messageText" class="form-control" id="topic-new-message"
                                      minlength="2" maxlength="4000" required
                                      rows="13">[[${topicMessageWhenErrorsGet!=null ? topicMessageWhenErrorsGet.messageText :''}]]</textarea>
                            <div class="invalid-feedback">Минимум 2 и максимум 4000 символов</div>
                        </div>
                        <input type="hidden" name="categoryId" th:value="${category}">
                        <input type="hidden" name="subCategoryId" th:value="${subCategory}">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-sm btn-light" value="Создать новую тему">
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>


<!-- new section form -->
<th:block th:fragment="section-new">
    <button type="button" class="btn btn-primary btn-sm btn-light mt-2" data-bs-toggle="modal"
            data-bs-target="#section-new">Новый раздел
    </button>

    <div class="modal fade modal-lg" id="section-new" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="section-new-title-h">Создание нового раздела</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/sections/new}" method="post" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="section-new-title" class="form-label">Название<sup>*</sup></label>
                            <input type="text" name="title" required class="form-control" id="section-new-title">
                            <div class="invalid-feedback">Минимум 2 и максимум 128 символов</div>
                        </div>
                        <div class="mb-3">
                            <label for="section-new-description" class="form-label">Описание</label>
                            <textarea name="description" class="form-control" id="section-new-description"
                                      maxlength="512" rows="7"></textarea>
                            <div class="invalid-feedback">Максимум 512 символов</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-sm btn-light" value="Создать новый раздел">
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>


<!-- new category form -->
<th:block th:fragment="category-new(sections)">
    <button type="button" class="btn btn-primary btn-sm btn-light mt-2" data-bs-toggle="modal"
            data-bs-target="#category-new">Новая категория
    </button>

    <div class="modal fade modal-lg" id="category-new" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="category-new-title-h">Создание новой категории</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/cat/new}" method="post" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="section-new-title" class="form-label">Название<sup>*</sup></label>
                            <input type="text" name="title" required class="form-control" id="category-new-title">
                            <div class="invalid-feedback">Минимум 2 и максимум 128 символов</div>
                        </div>
                        <div class="mb-3">
                            <label for="sectionId">Раздел</label>
                            <select class="form-select" name="sectionId" id="sectionId">
                                <option th:each="section: ${sections}"
                                        th:value="${section.id}"
                                        th:text="${section.title}">section
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="category-new-description" class="form-label">Описание</label>
                            <textarea name="description" class="form-control" id="category-new-description"
                                      maxlength="512" rows="7"></textarea>
                            <div class="invalid-feedback">Максимум 512 символов</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-sm btn-light" value="Создать новую категорию">
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>


<!-- new subcategory form -->
<!-- todo переделать на JS subselect и удалить этот код -->
<th:block th:fragment="subcategory-new(sections)">
    <button type="button" class="btn btn-primary btn-sm btn-light mt-2" data-bs-toggle="modal"
            data-bs-target="#subcategory-new">Новая подкатегория
    </button>

    <div class="modal fade modal-lg" id="subcategory-new" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="subcategory-new-title-h">Создание новой подкатегории</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/subcat/new}" method="post" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="section-new-title" class="form-label">Название<sup>*</sup></label>
                            <input type="text" name="title" required class="form-control" id="subcategory-new-title">
                            <div class="invalid-feedback">Минимум 2 и максимум 128 символов</div>
                        </div>
                        <div class="mb-3">
                            <label for="categoryId">Категория</label>
                            <select class="form-select" name="categoryId" id="categoryId">
                                <option disabled selected>Выбрать категорию</option>
                                <optgroup th:each="section: ${sections}" th:label="${section.title}">
                                    <option th:each="category: ${section.categoryList}"
                                            th:value="${category.id}"
                                            th:text="${category.title}">
                                        Category
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="category-new-description" class="form-label">Описание</label>
                            <textarea name="description" class="form-control" id="subcategory-new-description"
                                      maxlength="512" rows="7"></textarea>
                            <div class="invalid-feedback">Максимум 512 символов</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btn-sm btn-light"
                               value="Создать новую подкатегорию">
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>