<th:block th:insert="~{/fragments/header :: header}"></th:block>

<div class="container">

    <th:block th:replace="~{/fragments/fragments :: errors(${errors})}">errors</th:block>

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item">
                <a th:href="@{/cat/{catId}(catId=${category.id})}"
                   th:text="${category.title}">Category</a></li>

            <li class="breadcrumb-item" th:if="${subCategory!=null}">
                <a th:href="@{/cat/{catId}/subcat/{subCatId}(catId=${category.id},subCatId=${subCategory.id})}"
                   th:text="${subCategory.title}">SubCategory</a></li>
        </ol>
    </nav>


    <th:block th:if="${subCategories != null && subCategories.size()>0}">
        <div class="row align-items-end border border-secondary-subtle rounded-3">
            <div class="col-6  border border-secondary-subtle">
                Подкатегории
            </div>
            <div class="col  border border-secondary-subtle">
                Тем
            </div>
            <div class="col  border border-secondary-subtle">
                Ответов
            </div>
        </div>

        <div class="row align-items-end" th:each="subcat : ${subCategories}">
            <div class="col-6 border border-secondary-subtle">
                <a th:href="@{/cat/{catId}/subcat/{subCatId}(catId=${category.id},subCatId=${subcat.id})}"
                   th:text="${subcat.title}"></a>
            </div>
            <div class="col border border-secondary-subtle">
                [[${subcat.topicCount}]]
            </div>
            <div class="col border border-secondary-subtle">
                000000
            </div>
        </div>
    </th:block>

    <th:block sec:authorize="isAuthenticated()"
              th:replace="~{/fragments/modal :: topic-new(${category.id},
            ${subCategory!=null}?${subCategory.id}:null,
            ${topicMessage!=null}?${topicMessage}:null)}">
    </th:block>

    <th:block th:if="${topics.content.size()>0}">
        <div class="mt-3">
            <div class="row align-items-end border border-secondary-subtle rounded-3">
                <div class="col-6  border border-secondary-subtle">
                    Тема
                </div>
                <div class="col  border border-secondary-subtle">
                    Создана
                </div>
                <div class="col  border border-secondary-subtle">
                    Ответов
                </div>
                <div class="col  border border-secondary-subtle">
                    Автор
                </div>
            </div>

            <div class="row align-items-end" th:each="topic: ${topics.content}">
                <div class="col-6   border border-secondary-subtle">
                    <a th:href="@{/topic/{id}(id=${topic.id})}" th:text="${topic.title}"></a>
                </div>
                <div class="col  border border-secondary-subtle">
                    [[${topic.createdAt}]]
                </div>
                <div class="col  border border-secondary-subtle">
                    [[${topic.messageCount}]]
                </div>
                <div class="col  border border-secondary-subtle">
                    [[${topic.author.username}]]
                </div>
            </div>

        </div>
    </th:block>

    <th:block th:if="${topics.content.size()>0}">
        <th:block th:replace="~{/fragments/pagination :: pagination(${topics.metadata},
    '/cat/'+${category.id} + ${subCategory != null ? '/subcat/'+subCategory.id :''})}"></th:block>
    </th:block>

</div>

<th:block th:insert="~{/fragments/footer ::footer}"></th:block>