<th:block th:insert="~{/fragments/header :: header}"></th:block>

<div class="container">

    <th:block th:replace="~{/fragments/fragments :: errors(${errors})}">errors</th:block>

    <div class="row mt-4">

        <th:block sec:authorize="isAuthenticated()">
            <div class="mb-4">
                <th:block th:replace="~{/fragments/modal :: section-new}"></th:block>
                <th:block th:replace="~{/fragments/modal :: category-new(${sections})}"></th:block>
                <th:block th:replace="~{/fragments/modal :: subcategory-new(${sections})}"></th:block>
            </div>
        </th:block>

        <div class="card mb-3" th:each="section: ${sections}">
            <h5 class="card-header d-inline-block" th:id="|section-title-${section.id}|">[[${section.title}]]</h5>
            <span sec:authorize="hasAuthority('ADMIN')" th:class="|section-edit-${section.id}|">RRR</span>
            <div class="card-body">
                <div class="card-text" th:id="|section-description-${section.id}|">[[${section.description}]]</div>
                <div class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item" th:each="category:${section.categoryList}">
                            <a th:href="@{/cat/{id}(id=${category.id})}" th:text="${category.title}">Category</a>
                            ( [[${category.topicCount}]] )
                            <ul class="list-group">
                                <li class="list-group-item" th:each="subCategory:${category.subCategory}">
                                    <a th:href="@{/cat/{catId}/subcat/{subCatId}(catId=${category.id},subCatId=${subCategory.id})}"
                                       th:text="${subCategory.title}">SubCategory</a> ( [[${subCategory.topicCount}]] )
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>

<th:block th:insert="~{/fragments/footer ::footer}"></th:block>