<th:block th:insert="~{fragments/header :: header}"></th:block>

<th:block th:if="${topicMessages != null && topicMessages.content.size()>0}">

    <th:block th:replace="~{fragments/fragments :: errors(${errors})}">errors</th:block>

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item">
                <a th:href="@{/cat/{catId}(catId=${topic.category.id})}"
                   th:text="${topic.category.title}">Category</a></li>

            <li class="breadcrumb-item" th:if="${topic.subCategory!=null}">
                <a th:href="@{/cat/{catId}/subcat/{subCatId}(catId=${topic.category.id},subCatId=${topic.subCategory.id})}"
                   th:text="${topic.subCategory.title}">SubCategory</a></li>

            <li class="breadcrumb-item active" aria-current="page"
                th:text="${topic.title}">Topic
            </li>
        </ol>
    </nav>


    <div class="container mb-4">
        <div class="row border border-secondary mb-3" th:each="message : ${topicMessages.content}"
             th:id="|topic-message-id-${message.id}|">
            <div class="col-2 border border-secondary">
                <div>
                    <a th:href="@{'/users/' + ${message.author.id}}" th:text="${message.author.username}"
                       th:if="${message.author.role=='ADMIN'}" class="link-danger">User</a>

                    <a th:href="@{'/users/' + ${message.author.id}}" th:text="${message.author.username}"
                       th:if="${message.author.role=='MODERATOR'}" class="link-warning">User</a>

                    <a th:href="@{'/users/' + ${message.author.id}}" th:text="${message.author.username}"
                       th:if="${message.author.role=='USER'}">User</a>
                    <br>
                </div>
                <div>
                    <img th:src="|#{user.images.path}/${message.author.image}|" style="width: 160px" alt="avatar">
                </div>
            </div>
            <div class="col-10 border border-secondary" th:text="${message.text}"
                 th:id="|topic-message-text-${message.id}|">text
            </div>
            <div class="col-12 border border-secondary" th:text="${message.createdAt}">Date</div>

            <div th:if="${#authentication.name == message.author.username} or
            ${#authorization.expression('hasAnyAuthority(''ADMIN'', ''MODERATOR'')')}">
                <button type="submit" class="btn btn-primary btn-sm btn-light"
                        th:name="|topic-message-text-${message.id}|">Редактировать
                </button>
                <button type="submit" class="btn btn-primary btn-sm btn-light"
                        th:name="|topic-message-id-${message.id}|">Удалить
                </button>
            </div>
        </div>

        <th:block sec:authorize="isAuthenticated()"
                  th:replace="~{fragments/modal :: topic-message-new(${topic.id},
                  ${topicMessage!=null}?${topicMessage}:null)}">
        </th:block>

        <th:block
                th:replace="~{fragments/pagination :: pagination(${topicMessages.metadata}, '/topic/'+${topic.id})}">
        </th:block>
    </div>

</th:block>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>