<th:block th:insert="~{fragments/header :: header}"></th:block>

<h5 class="text-center mt-2" th:text="#{page.users.enter}"></h5>

<div th:text="|#{page.users.total_users}:${users.metadata.getTotalElements()}|"></div>

<table class="table table-sm table-hover table-bordered border-info text-center mt-1">
    <thead>
    <tr>
        <th scope="col" th:text="#{page.users.id}"></th>
        <th scope="col" th:text="#{page.users.login}"></th>
        <th scope="col" th:text="#{page.users.avatar}"></th>
        <th scope="col" th:text="#{page.users.role}"></th>
        <th scope="col" th:text="#{page.users.lastActivity}"></th>
        <th scope="col" th:text="#{page.users.email}" sec:authorize="hasAuthority('ADMIN')"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users.content}">
        <th scope="row" th:text="${user.id}">id</th>
        <td><a th:href="@{'/users/' + ${user.id}}" th:text="${user.username}"></a></td>
        <td><img th:src="|#{user.images.path}/${user.image}|" style="width: 30px" alt="avatar"></td>
        <td th:text="${user.role}">role</td>
        <td th:text="${user.lastActivity}">last activity</td>
        <td th:text="${user.email}" sec:authorize="hasAuthority('ADMIN')"></td>
    </tr>
    </tbody>
</table>

<th:block th:replace="~{fragments/pagination :: pagination(${users.metadata}, '/users')}"></th:block>
<th:block th:insert="~{fragments/footer ::footer}"></th:block>