<th:block th:insert="~{fragments/header :: header}"></th:block>

<div class="container col-8">

    <th:block th:if="${#authentication.name == user.username} or
            ${#authorization.expression('hasAnyAuthority(''ADMIN'')')}">

        <th:block th:replace="~{fragments/fragments :: errors(${errors})}">errors</th:block>
        <form th:action="@{/users/{userId}/update(userId=${user.id})}" method="post" th:object="${user}">

            <img th:src="|/img/avatars/*{image}|" class="card-img-top mx-auto d-block" style="width: 220px"
                 alt="Profile image" data-bs-toggle="modal"
                 data-bs-target="#profile-image" id="avatar-image">
            <th:block th:replace="~{fragments/modal :: defaultAvatars(${defaultAvatars})}"></th:block>
            <div>
                <div class="mb-2">
                    <label for="username" class="form-label" th:text="#{page.user.form.login}"></label>
                    <input type="text" name="username" class="form-control" id="username" th:value="*{username}">
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label" th:text="#{page.user.form.password}"></label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <div class="mb-2">
                    <label for="email" class="form-label" th:text="#{page.user.form.email}"></label>
                    <input type="email" name="email" class="form-control" id="email" th:value="*{email}">
                </div>

                <div class="mb-2">
                    <label for="roles">[[#{page.user.form.roles}]]
                        <select class="form-select" id="roles" name="role">
                            <option th:each="role:${roles}"
                                    th:text="${role.name}"
                                    th:value="${role.name}"
                                    th:selected="${role.name == user.role}">
                        </select>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary btn-sm btn-light"
                       th:value="#{page.user.form.submit}">
            </div>
            <input type="hidden" name="image" id="avatar-image-id" th:value="*{image}">
        </form>

        <form th:action="@{/users/{userId}/delete(userId=${user.id})}" sec:authorize="hasAuthority('ADMIN')"
              method="post">
            <input type="submit" class="btn btn-primary btn-sm btn-light" th:value="#{page.user.delete}">
        </form>
        <form th:action="@{/users/{userId}/ban(userId=${user.id})}" sec:authorize="hasAuthority('ADMIN')" method="post">
            <input type="submit" class="btn btn-primary btn-sm btn-light" th:value="#{page.user.ban}">
        </form>
    </th:block>


    <div class="card w-30 mt-4 mb-4" th:if="${#authentication.name != user.username} and
    ${#authorization.expression('!hasAnyAuthority(''ADMIN'')')}">
        <img th:src="|#{user.images.path}/${user.image}|" class="card-img-top mx-auto d-block" style="width: 220px" alt="Profile image">
        <div class="card-body">
            <h5 class="card-title" th:text="${user.username}"></h5>
            <p class="card-text">Возможно здесь будет подпись пользователя когда-нибудь...</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="|#{page.user.lastActivity}: ${user.lastActivity}|"></li>
                <li class="list-group-item" th:text="|#{page.user.createdAt}: ${user.createdAt}|"></li>
            </ul>
        </div>
    </div>

</div>

<th:block th:insert="~{fragments/footer ::footer}"></th:block>